.form_area{
	background:rgba(255,255,255,0.5);
	width:100%;
	height:100%;
	z-index:2;
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}

.form_field{
	width:25%;
	height:35%;
	z-index:3;
	position:absolute;
	left:25%;
	top:25%;
	border-radius:10px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	background: rgba(212,228,239,1);
	background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
	background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

#comment_field, #story_field{
	height:45%;
}

.form_area form{
	font-size:150%;
	position:relative;
	left:10%;
	top:15%;
}

.cross{
	float:right;
	margin-right:10px;
	font-size:20px;
}

.cross:hover{
	cursor: pointer;
}

.button{
	float:right;
	margin:15px;
}

header{
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	height: 50px;
	width:94%;
	position:absolute;
	top:0px;
	right:0px;
	background-color:rgba(212,228,239,1);
}

#home_image{
	position:absolute;
	top:0px;
}

.mainPage{
	margin-top:15%;
}